@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <span>教师信息：</span><a href="/file/templet/download?type=1">模板下载</a>
                        </div>
                        <div class="row">
                            <form action="/file/teacher/upload" enctype="multipart/form-data" method="post">
                                <input type="file" name="file" />
                                <input type="submit" id="btn" value="点我上传文件">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/clazz/clazz.js"></script>
@}
