@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <input type="hidden" id="teacherId" value="${teacherId}">
            <input type="hidden" id="clazzId" value="">
            <div class="ibox-title">
                <h5>上课签到</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <#button btnCss="info" name="上课" id="ensure" icon="fa-check" clickFun="LessonStudent.addSubmit()"/>
                        </div>
                    </div>
                    <div class="col-sm-12 nmg">
                        <div class="col-lg-2 col-sm-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">班级</div>
                                <div class="panel-body clazz-tree">
                                    <ul id="clazzTree" class="ztree"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-9">
                            <#table id="LessonStudentTable"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/lessonRecord/lessonRecord_info.js"></script>
@}
