@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <input type="hidden" id="sexValue" value="${item.sex}">
            <div class="row">
                <#input id="name" name="姓名" value="${item.name}" underline="true"/>
                <#input id="contactPhone" name="联系方式" underline="true" value="${item.contactPhone}" />


                <#select id="sex" name="性别" underline="true">
                    <option value="1">男</option>
                    <option value="2">女</option>
                </#select>
                <#input id="packSel" name="套餐" underline="true" readonly="readonly" hidden="packId" hiddenValue="${pack.id}" value="${pack.name}"
                        clickFun="StudentInfoDlg.showPackSelectTree(); return false;"
                        style="background-color: #ffffff !important;"/>

                <#input id="clazzSel" name="班级"  readonly="readonly" hidden="clazzId" hiddenValue="${clazz.id}" value="${clazz.name}"
                        clickFun="StudentInfoDlg.showClazzSelectTree(); return false;"
                        style="background-color: #ffffff !important;"/>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="StudentInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="StudentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/student/student_info.js"></script>
@}
